doctype
html(lang='en' ng-app='calculatorApp')
    head
        meta(charset='UTF-8')
        title testsatkpvd
        link(rel='stylesheet' href='dist/css/style.css')
        script(src='bower_components/angular/angular.min.js')
        script(src='dist/js/main.js')
    body
        calculator